<div data-task-id="<%= task.id %>" class="task bs-callout bs-callout-new" >
    <h4><a href="#"><%= task.title %> (Creation date: <%= task.creationDate %>)</a></h4>
    <div class="dropdown">
        <span class="glyphicon glyphicon-option-vertical task-glyphicon dropdown-toggle pull-right" id="dropdownMenu" data-toggle="dropdown"></span>
        <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu">
            <li><a href="#">Start</a></li>
            <li><a href="#">Mark as done</a></li>
            <li class="delete-task-btn"><a href="#">Delete</a></li>
        </ul>
    </div>
    <p><%= task.description %></p>
    <div class="ceparator-lane"></div>
    <p>Status: <%= task.status %></p>
</div>